<h1>New User</h1>

  <% if @user.errors %>
      <%= render partial: "shared/error_list", locals: {new_object: @user} %>
  <% end %>



<div class="box">
<%= form_for @user, html: {:class => "ui form"} do |f| %>
    <div class="field">
      <%= f.label :username %>
      <%= f.text_field :username %>
    </div>
    <div class="two fields">
      <div class="field">
        <%= f.label :password %>
        <%= f.password_field :password %>
      </div>
      <div class="field">
        <%= f.label :password_confirmation %>
        <%= f.password_field :password_confirmation %>
      </div>
    </div>
    <%= f.submit "Create user", class: "circular ui inverted button" %>
<% end %>
</div>
