<% if @tournament.errors.any? %>
  <div class="box" id="error_explanation">
    <h2>
      <%= pluralize(@tournament.errors.count, "error") %> prohibited this tournament from being saved!
    </h2>
    <ul>
      <% @tournament.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<div class="box">
  <%=form_for @tournament, :html => {:class => "ui form"} do |tour| %>
  <div class="two fields">
    <div class="field">
      <%= tour.label :name %>
      <%= tour.text_field :name %>
    </div>
    <div class="field">
      <%= tour.label "Number of players" %>
      <%= tour.number_field :num_players %>
    </div>
  </div>

  <ul>
    <% Player.active_players.each do |role| %>
    <li class="large-selection">
        <%= check_box_tag 'player_ids[]', role.id, false,  class: "ui checkbox" %>
        <%= h role.name %>
    </li>
    <% end %>
  </ul>
  <%= tour.submit "Create Tournament", class: "ui inverted button" %>

  <% end %>
</div>
