<% if @tournament.errors.any? %>
  <div class="box" id="error_explanation">
    <h2>
      <%= pluralize(@tournament.errors.count, "error") %> prohibited this tournament from being saved!
    </h2>
    <ul>
      <% @tournament.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<div class="box">
  <%=form_for @tournament do |tour| %>
  <%= tour.label :name %>
  <%= tour.text_field :name %>
  <br>
  <%= tour.label "Number of players" %>
  <%= tour.number_field :num_players %>

  <ul>
    <% Player.active_players.each do |role| %>
    <li>
      <%= check_box_tag 'player_ids[]', role.id -%>
      <%= h role.name -%>
    </li>
    <% end %>
  </ul>
  <%= tour.submit %>

  <% end %>
</div>
