<h1>Welcome to the <%=@tournament.name %> tournament</h1>
  <main id="tournament">
  <% @tournament.rounds.each_with_index do |round, i| %>
  <ul class="round round-<%= i %>">
    <% round.games.each_with_index do |game, i| %>
      <li class="spacer">&nbsp;</li>

        <% if game.winner.nil? %>
          <li class="game game-top"><%= link_to game.p1.name, game_path(game, game.p1), :method=> :patch %> </li>
        <% else %>
          <% if game.p1 == game.winner %>
          <li class="game game-topwinner"><%= game.p1.name %></li>
          <%else %>
          <li class="game game-top"><%= game.p1.name %></li>
          <% end  %>
        <% end %>
      <li class="game game-spacer">
        <% if game.status == "pending" %>
            Winner: Pending
        <% elsif game.status == "Completed" %>
          Winner: <%= game.winner.name  %>
        <% end %>
      </li>

      <% if game.winner.nil? %>
        <li class="game game-bottom "><%= link_to game.p2.name, game_path(game, game.p2), :method=> :patch %> </li>
      <% else %>
        <% if game.p2 == game.winner %>
          <li class="game game-botttomwinner"><%= game.p2.name %></li>
        <%else %>
          <li class="game game-bottom"><%= game.p2.name %></li>
        <% end  %>
      <% end %>
      <li class="spacer">&nbsp;</li>
      <% end %>

  </ul>

<% end %>
<% if @tournament.status == "Completed"  %>
<ul class="round round-<%= @tournament.rounds.size + 1 %>">

  <li class="game game-winner">THE WINNER: <%= @tournament.get_winner.name %></li>

</ul>
<% end %>
</main>







<%= form_tag @tournament, method: "delete" do %>
  <%= submit_tag "Delete This Tournament" %>
<% end %>
