<ul>
  <li class="large-selection"><%= image_tag(@player.img_url, width: 60, height: 60, class: "person")  %></li>
  <li class="large-selection"><h1><%= @player.nickname %></h1>
    <h3><%= @player.name %></h3></li>
</ul>

<div class="box">
    <% if !@player.games.empty? %>
    <div class="tables">
    <table class="ui celled structured table">
      <thead>
        <tr>
          <th colspan="3">Games</th>
        </tr>
        <tr>
          <th>Tournament</th>
          <th>Round</th>
          <th>Score</th>
        </tr>
      </thead>
      <tbody>
        <% @player.games.each do |game| %>
        <tr>
          <% if game.round.tournament.user.id != session["user_id"] %>
            <td><%= game.round.tournament.name %></td>
          <% else %>
            <td> <%= link_to game.round.tournament.name, game.round.tournament %> </td>
          <% end %>
          <td> <%= game.round.num %> </td>
          <% if @player.win?(game) == "won" %>
          <td class="positive"><i class="icon checkmark"></i> <%= @player.win?(game) %> </td>
          <% elsif @player.win?(game) == "lost" %>
          <td class="negative"> <%= @player.win?(game) %> </td>
          <% else %>
          <td> Playing </td>
          <% end %>
        </tr>
        <% end %>
      </tbody>
    </table>

    <table class="ui celled structured table">
      <thead>
        <tr>
          <th colspan="3">Stats</th>
        </tr>
        <tr>
          <th>Game Win Percentage</th>
          <th>Tournament Win Percentage</th>
          <th>Points</th>
        </tr>
      </thead>
      <tbody>
        <td><%= @player.game_win_percentage %></td>
        <td><%= @player.tour_win_percentage %></td>
        <td><%= @player.points %></td>
      </tbody>

    </table>
  </div>
  <% else %>
  <p> <%= @player.name %> hasn't played any games yet!</p>
  <% end %>



</div>
<ul>
  <li class="large-selection">
    <%= link_to "Edit player", edit_player_path ,  class: "circular ui inverted button deletion" %>
  </li>
  <li class="large-selection">
    <%= form_tag @player, method: "delete" do %>
    <%= submit_tag "Delete Player", class: "circular ui inverted button deletion" %>
    <% end %>
  </li>
</ul>
