<!DOCTYPE html>
<html>
  <head>
    <title>PingPong</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <ul class="menu-nav-bar">
      <li class="menu-item"><%= link_to image_tag("https://files.slack.com/files-pri/T02MD9XTF-FG4U796JK/screen_shot_2019-02-11_at_12.43.39_pm.png", style: "width:40px; height:19px;", border: 0), {action: "home", controller: "tournaments"} %></li>
      <li class="menu-item"><%= link_to "  Create a Tournament  ", new_tournament_path, class: "nav-item" %></li>
      <li class="menu-item"><%= link_to "  Create a Player  ", new_player_path, class: "nav-item" %></li>
      <li class="menu-item"><%= link_to "  View Tournaments  ", tournaments_path, class: "nav-item" %></li>
      <li class="menu-item"><%= link_to "  View Players  ", players_path, class: "nav-item" %></li>

    </ul>

    <%= yield %>
  </body>
</html>
