<!DOCTYPE html>
<html>
  <head>
    <title>PingPong</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= link_to "  |Create a Tournament!|  ", new_tournament_path %>
    <%= link_to "  |Create a Player!|  ", new_player_path %>
    <%= link_to "  |View Tournaments!|  ", tournaments_path %>

    <%= yield %>
  </body>
</html>
